# Archivos de Datos Excel (Información sensible)
*.xlsx
*.xls
Datos_Excel/*
!Datos_Excel/.gitkeep
~$*.xlsx
~$*.docx

# Archivos de Reportes PDF (Información sensible)
*.pdf
Reportes_PDF/*
!Reportes_PDF/.gitkeep

# Archivos temporales de renderizado
temp_report.html
*.tmp

# Archivos del sistema u OS
.DS_Store
Thumbs.db
